/* Profile.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff; /* צבע תכלת בהיר לכל הרקע */
  color: #333; /* צבע כהה לטקסט */
  margin: 0;
  padding: 0;
}

.profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e0f7fa; /* צבע רקע מרגיע */
}

.profile-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #00796b; /* צבע ירוק כהה לכותרת */
  margin-bottom: 20px;
}

.profile-details p {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
}

.edit-profile-button, .view-purchases-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #81c784; /* צבע ירוק בהיר לכפתורים */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.edit-profile-button:hover, .view-purchases-button:hover {
  background-color: #66bb6a; /* צבע כהה יותר לכפתור בהנחה */
}

.error-message {
  color: #e57373; /* צבע אדום בהיר להודעת שגיאה */
  font-size: 18px;
}
