/* עיצוב הקונטיינר הכולל של הטופס */
.add-workshop-container {
  max-width: 800px; /* הגבלת רוחב לקונטיינר */
  margin: 80px auto 50px; /* ריווח מה-navbar */
  padding: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgb(0, 0, 0);
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: left;
  transition: transform 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

.add-workshop-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

/* עיצוב כותרת הטופס */
.add-workshop-container h1 {
  font-size: 2rem;
  color: #050505;
  margin-bottom: 30px;
  text-align: center;
}

/* עיצוב הטופס */
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
}

@media screen and (max-width: 600px) {
  form {
      grid-template-columns: 1fr; /* מעבר לעמודה אחת במסכים קטנים */
  }
}

/* עיצוב קבוצת שדות */
.add-workshop-container div {
  display: flex;
  flex-direction: column;
  text-align: right;
}

/* עיצוב תוויות */
.add-workshop-container label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #000000;
  font-size: 1rem;
}

/* עיצוב שדות קלט עם כיווניות טקסט מימין לשמאל */
.add-workshop-container input[type="text"],
.add-workshop-container input[type="number"],
.add-workshop-container input[type="date"],
.add-workshop-container input[type="time"],
.add-workshop-container textarea,
.add-workshop-container input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s;
  box-sizing: border-box;
  direction: rtl; /* קביעת כיוון הכתיבה מימין לשמאל */
  text-align: right; /* יישור הטקסט וה-placeholder לימין */
}

.add-workshop-container input[type="text"]:focus,
.add-workshop-container input[type="number"]:focus,
.add-workshop-container textarea:focus,
.add-workshop-container input[type="file"]:focus {
  border-color: #007bff;
  outline: none;
}

/* עיצוב שדה טקסט */
.add-workshop-container textarea {
  resize: vertical;
  min-height: 100px;
}

/* עיצוב הכפתור */
.add-workshop-container button[type="submit"] {
  grid-column: span 2;
  padding: 12px;
  background-color: #1109f2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  width: 50%; /* הכפתור מיושר למרכז */
  margin: 20px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.add-workshop-container button[type="submit"]:hover {
  background-color: #0c06c3;
  transform: translateY(-2px);
}

/* התאמה למסכים קטנים */
@media screen and (max-width: 600px) {
  .add-workshop-container {
      padding: 20px;
  }

  .add-workshop-container h1 {
      font-size: 1.8rem;
  }

  .add-workshop-container button[type="submit"] {
      width: 100%; /* הכפתור מתפרס על כל הרוחב במסכים קטנים */
      font-size: 0.9rem;
      padding: 10px;
  }
}
