.contacts-us-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .contacts-us-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
  }
  
  .map-container {
    margin-bottom: 30px;
    border: 3px solid #050606;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .form-group {
    flex: 0 0 48%;
    margin-bottom: 15px;
  }
  
  .form-group.full-width {
    flex: 0 0 100%;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    display: block;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .form-group textarea {
    resize: vertical;
    height: 100px;
  }
  
  .submit-btn {
    width: 100%;
    padding: 15px 20px;
    background-color: #048fcf;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  .submit-btn:active {
    background-color: #3e8e41;
    transform: scale(0.98);
  }
  