/* General styling for the Register page */
.register-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
  padding-top: 60px;
}

.register-page-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgb(0, 0, 0);
  max-width: 400px;
  width: 100%;
  text-align: center;
  animation: fadeIn 1s ease-out;
}

.register-page-title {
  margin-bottom: 25px;
  font-size: 26px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.register-page-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-page-input-group {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.register-page-input-group input {
  width: 100%;
  padding: 10px 10px 10px 35px; /* מרווח לאייקון */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 15px;
  transition: border-color 0.3s, box-shadow 0.3s;
  text-align: right;
}

.register-page-input-group input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  outline: none;
}

.register-page-input-group .icon {
  position: absolute;
  left: 20px; /* מיקום האייקון מימין */
  top: 50%;
  transform: translateY(-50%);
  color: #777;
  font-size: 18px;
}

.register-page-btn {
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 22px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.register-page-btn:hover {
  background: linear-gradient(135deg, #0056b3, #004494);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.register-page-btn:active {
  transform: scale(0.96);
}

.register-page-error {
  color: #d9534f;
  font-weight: bold;
  font-size: 15px;
  margin-top: 15px;
  background-color: #f8d7da;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #f5c6cb;
  width: calc(100% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: shake 0.3s;
}

.register-page-navToLogin {
  margin-top: 20px;
}

.register-page-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.register-page-link:hover {
  color: #0056b3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-10px);
  }
  40%, 80% {
    transform: translateX(10px);
  }
}
